.notag
  p Hello, my name is #{name}
  span Yo! My dog is #{dog}
    img(src="http://cdn1-www.dogtime.com/assets/uploads/2011/01/file_23262_entlebucher-mountain-dog-460x290.jpg" alt=`dog name is ${dog}`, style="float:right")

- const upDog = dog.toUpperCase();

.notag
  h4 Some other text.
  p Capitalized dog: #{upDog}

